body {
    background-color: #efbebd;
    color: #FFFFFF;
}

.header {
    padding: 40px 20px 20px 20px;

    h1 {
        display: inline-block;
        font-size: 1.7rem;
        color: #FFFFFF;

        &:after {
            background-color: #f74b33;
            border-radius: 50%;
            bottom: 7px;
            content: "";
            height: 5px;
            right: -10px;
            position: absolute;
            width: 5px;
        }
    }
}

button {
    background-color: #001aff;
    border: 1px solid transparent;
    border-radius: 64px;
    color: #FFFFFF;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .8rem 1.4rem;
    width: auto;
    font-weight: bold;

    svg {
        fill: #FFFFFF;
        transition: fill .15s ease-in-out;
    }

    &:hover, &:focus, &:active {
        outline: none;
        background-color: #efbebd;
        color: #001aff;
        border: 1px solid #001aff;

        svg {
            fill: #001aff;
        }
    }

    &:focus, &:active {
        box-shadow: 0 0 0 4px rgba(0, 26, 255, .5);
    }
}

label {
    span {
        margin-left: 5px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #001aff;
    background: transparent;
    margin: 0;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-60%) translateY(-60%) rotate(45deg);
        width: 20%;
        height: 50%;
        border-bottom: 0.2rem solid transparent;
        border-right: 0.2rem solid transparent;
        transition: border-right .15s ease-in-out, border-bottom .15s ease-in-out;
    }

    &:checked {
        border-color: darken(#001aff, 5%);
        background: #001aff;

        &:before {
            border-bottom: 0.15rem solid white;
            border-right: 0.15rem solid white;
        }
    }
}

#drop-area {
    border: 4px dashed #FFFFFF;
    text-align: center;
    padding: 20px;
    height: 275px;
    width: 100%;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    .hint {
        h2 {
            font-size: 1.5rem;
            font-weight: normal;
        }

        .word-separator {
            margin: 1rem;
        }

        button {
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            padding: 10px 20px;
            color: #001aff;

            &:hover, &:focus, &:active {
                outline: none;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
                background: transparent;
            }
        }
    }

    &.dragover {
        border: 4px dashed #001aff;

        h2 {
            color: #001aff;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    }
}

.footer {
    .footer-left {
        line-height: 45px;

        input[type="checkbox"] {
            top: 4px;
        }
    }

    .footer-right {
        height: 45px;
        line-height: 45px;

        .tooltip {
            font-size: 0.8rem;
            border-radius: 3px;
            padding: .4rem;
            line-height: 1rem;
            transition: transform .15s ease-in-out, opacity .3s ease-in-out;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, .2);

            &:after {
                border-top : 4px solid transparent;
                border-bottom : 6px solid transparent;
                border-left : 10px solid rgba(0, 0, 0, .2);
            }
        }
    }
}